---
export interface Props {
  head: {
    title: string;
    description: string;
		author: string;
  }
}

const { head: { title, description, author } } = Astro.props as Props
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{`${title} 🚀 murajun1978.dev`}</title>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="author" content={author}>
	</head>
	<body>
    <slot></slot>
	</body>
</html>
