---
import Base from '../templates/Base.astro'

const title = 'Devlog'
const description = "murajun1978's blog for dev"
---

<Base head={{ title, description }}>
  <h1>murajun1978's dev blog</h1>
</Base>
