---
import Base from '../templates/Base.astro'
import 'bulma/css/bulma.css'

import { AppConfig } from '../AppConfig'

const {
  site_name,
  title,
  description,
  author
} = AppConfig
---

<Base head={{ title, description, author }}>
  <section class="section">
    <div class="container">
      <h1 class="title">{site_name}</h1>
      <p class="subtitle">{description}</p>
    </div>
  </section>
</Base>
