---
import Base from '../templates/Base.astro'
import { AppConfig } from '../AppConfig'
import { ResizingImage } from '../components/ResizingImage'
import { Image } from 'astro:assets'

const {
  site_name,
  title,
  description,
  author
} = AppConfig
const isDev = import.meta.env.DEV
---

<Base head={{ title, description, author }}>
  <section>
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
        <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
          murajun1978.dev
        </h1>
        <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
          Hi there, I'm murajun1978 ✌️ </br>
          I'm a Web Developer and I'm currently working at <a href="https://knowledgelabo.com/" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">Knowledgelabo Inc</a>.
        </p>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
        <Image src="/avatar.png" alt="murajun1978" width="225" height="225" isDev />
      </div>
    </div>
  </section>
</Base>
