---
import Base from '../templates/Base.astro'

import { AppConfig } from '../AppConfig'

const {
  site_name,
  title,
  description,
  author
} = AppConfig
---

<Base head={{ title, description, author }}>
  <h1>{site_name}</h1>
</Base>
